@page
@model SampleApp.RazorPage.Pages.UsersModel

@{
    ViewData["Title"] = "Users";
}

<h2>Пользователи</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].Email)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.User) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>

            <td>
                <a class="btn btn-danger" asp-page="Users" asp-page-handler="Remove" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
